<h1>Task</h1>

<%= form_with model: @task do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :years %>
    <%= form.number_field :years %>
  </div>

  <div>
    <%= form.label :months %>
    <%= form.number_field :months %>
  </div>

  <div>
    <%= form.label :weeks %>
    <%= form.number_field :weeks %>
  </div>

  <div>
    <%= form.label :days %>
    <%= form.number_field :days %>
  </div>

  <div>
    <%= form.label :hours %>
    <%= form.number_field :hours %>
  </div>

  <div>
    <%= form.label :minutes %>
    <%= form.number_field :minutes %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<h2>Tasks</h2>
<ul>
  <% @tasks.each do |task| %>
    <li style="color: <%= task_color(task) %>;">
      <%= task.name %> (<%= task.duration_in_seconds %> seconds) - <%= time_remaining_in_words(task) %>
      <%= button_to "Remove", task_path(task), method: :delete %>
    </li>
  <% end %>
</ul>
