<h1>Tasks</h1>

<div data-controller="modal">
  <button data-action="click->modal#open">New Task</button>

  <div data-modal-target="modal" class="hidden">
    <%= render "tasks/form", task: @task %>
    <button data-action="click->modal#close">Close</button>
  </div>
</div>

<h2>Tasks</h2>
<ul>
  <% @tasks.each do |task| %>
    <li style="color: <%= task_color(task) %>;">
      <%= task.name %> (<%= task.interval_in_seconds %> seconds) - <%= time_remaining_in_words(task) %>
      <%= button_to "Remove", task_path(task), method: :delete %>
    </li>
  <% end %>
</ul>
